<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<form method="POST" action="/articles/<%=@article.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="title">
  <input type="text" name="content">
  <button type="submit">
</form>
