<form method="POST" action="/article/1">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <button type="submit" value="delete">
</form>
<h1> <%= @article.title %> </h1>
<p> <%= @article.content %> </p>
